.pro_container{
    display: flex;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: #f5fbfd;
    position: relative;
}

.pro_container:hover .pro_info{
    opacity: 1;
}

.pro_circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.pro_img{
    height: 75%;
    width: 75%;
    object-fit: cover;
    z-index: 2;
}

.pro_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.2); */
    opacity: 0;
    z-index: 3;
    transition: all .5s ease;
    cursor: pointer;
}

.pro_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: all .5s ease;
}

.pro_icon:hover{
    background-color: #e9f5f5;
    transform: scale(1.1);
}
