.proL_container{

}

.proL_title{
    margin: 20px;
}

.proL_cate{
    margin-left: 20px;
}

.proL_catePathLink{
    color: black;
    text-decoration: none;
}

.proL_cateTitle{
    display: flex;
}

.proL_filterContainer{
    display: flex;
    justify-content: space-between;
}

.proL_filterText{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}

.proL_filterItem{
    display: flex;
    margin: 20px;
    align-items: center;
}   

.proL_select{
    padding: 10px;
    margin-right: 10px;
}

.proL_option{

}

@media only screen and (max-width: 740px){
    .proL_filterItem{
        flex-direction: column;   
    }

    .proL_filterText{
        margin-right: 0;
    }

    .proL_select{
        width: 100px;
        margin: 10px 0; 
    }

}
