.sl_container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.sl_wrapper{
    height: 100%;
    position: relative;
}

.sl_slide{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    inset: 0;
}

.sl_slide.active{
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.sl_img{
    height: 100%;
    flex: 1;
    display: flex;
    transform: translateX(-100%);
    transition:  transform 1.5s ease;

}

.sl_img__item{
    height: 80%;
}

.sl_info{
    flex: 1;
    padding: 50px;
    display: block;
    transform: translateY(-100%);
    transition: transform 1.5s ease;
}

.sl_slide.active > .sl_info{
    transform: translateY(0);
}

.sl_slide.active > .sl_img{
    transform: translateX(0) ;
}

.sl_title{
    font-size: 70px;
}

.sl_desc{
    margin: 50px 0;
    font-size: 20px;
    font-weight: 500;
}

.sl_btn{
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.sl_arrow{
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
}

.sl_arrow.sl_left{
    left: 10px;
    z-index: 100;
}

.sl_arrow.sl_right{
    right: 10px;
    z-index: 100;
}

@media only screen and (max-width:740px){
    .sl_container{
        display: none;
    }
}