.cart_container{

}

.cart_wrapper{
    padding: 20px;
}

.cart_title{
    font-weight: 300;
    text-align: center;
}

.cart_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cart_topBtn{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}


.cart_top :first-child{
    background-color: transparent;
}

.cart_top :nth-child(3){
    color: white;
    background-color: black;
}

.cart_topTexts{

}

.cart_topText{
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
}


.cart_bottom{
    display: flex;
    justify-content: space-between;
}

.cart_info{
    flex: 3;
}

.cart_product{
    display: flex;
    justify-content: space-between;
}

.cart_productDetail{
    flex: 2;
    display: flex;

}

.cart_proImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cart_proDetail{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart_proName{

}

.cart_proId{

}

.cart_proColor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cart_proSize{

}

.cart_priceDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.cart_proAmountContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart_proAmount{
    font-size: 24px;
    margin: 5px;
}

.cart_proPrice{
    font-size: 30px;
    font-weight: 200;
}

.cart_hr{
    background-color: #eee;
    border: none;
    height: 2px;
}

.cart_summary{
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
}

.cart_summaryTitle{
    font-weight: 200;
}

.cart_summaryItem{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.cart_summaryItem_Text{

}

.cart_summaryBtn{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.cart_summaryItem_Price{

}

@media only screen and (max-width: 740px){
    .cart_wrapper{
        padding: 10px;
    }

    .cart_topTexts{
        display: none;
    }

    .cart_product{
        flex-direction: column;
    }

    .cart_bottom{
        flex-direction: column;
    }

    .cart_proAmount{
        margin: 5px 15px;
    }

    .cart_proPrice{
        margin-bottom: 20px;
    }
}